// Colors

@dark-gray : #4f504f;
@medium-gray : #a9a9a9;
@light-gray : #fafafa;
@border-gray : #ededed;
@main-blue : #00b9e1;
@pure-white : #FFF;

@main-font : 'Montserrat';
@main-font-bold : 'Montserrat-Bold';

@tool-bar-width : 200px;
@tool-bar-button-height : 40px;

@top-bar-height : 60px;


.transition () {
	-webkit-transition: all .22s linear;
	-moz-transition:    all .22s linear;
	-ms-transition:     all .22s linear;
	-o-transition:      all .22s linear;
}