select{
	background: none;
	border: 1px solid #ededed;
	border-radius: 2px;
	height: 28px;
	outline: none;
	padding: 0px 10px;
	width: 160px;
	-webkit-appearance: none;
	background: url(../images/arrow-down.png) no-repeat right center;
	font-family: @main-font;
}
