.tool-bar{
  background: @light-gray;
  border-right: @border-gray 1px solid;
  .button{
    height: 40px;
    font-family: @main-font;
    padding-top: 13px;
    text-indent: 41px;;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    color: @medium-gray;
    .transition();
    a{
      text-decoration: none;
      color: @medium-gray!important;
      .transition();
    }
    i{
      font-size: 20px;
      position: relative;
      left: -16px;
      top: 2px;
    }

    &:hover{
      color:@dark-gray;
      a{
        color: @dark-gray!important;
      }
    }
  }

  .top-menu .button:first-child{
  	  margin-top: 5px;
  }
  .bottom-menu{
  	position: absolute;
  	bottom: 0px;
  	height: 65px;
  	width: 100%;
  	padding-top: 5px;
   	border-top: @border-gray 1px solid;
  }
}