.top-bar{
  background: url(../images/logo.png) no-repeat center center #00b9e1;
  background-size: contain;
  height: @top-bar-height;
  position: fixed;
  width: 100%;
  z-index: 10;
  text-align: center;
  letter-spacing: 10px;
  color: @pure-white;
  font-family: @main-font;
  font-size: 25px;
  line-height: 58px;

  .project-menu,.account-menu{
    font-family: @main-font;
    font-size: 14px;
    letter-spacing: 2px;
    color: @pure-white;
    float: left;
    padding: 0 40px;
  }
  .account-menu
  {
    float: right;
  }
}