.category-menu{
	height: 70px;
	select{
		margin-left: 30px;
		margin-top: 30px;
		width: 200px;
	}
}

.publication{




	border-bottom: 1px solid #ededed;
	height: 140px;
	padding: 20px 10px;
	width: 100%;
	.image{
		background: url(http://placehold.it/100/100);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100px;
		height: 100px;
		float: left;
		margin: 0 30px;
	}
	h1{
		font-family: @main-font;
		font-size: 19px;
		color: @dark-gray;
		height: 60px;
		line-height: 24px;
		margin-top: -2px;
	}
	.footer{
		position: relative;
		top: 29px;
		font-family: @main-font;
		.from{
			width: 440px;
			.time-ago{
				color: @dark-gray;

			}
			.by{
				color: @medium-gray;

			}
			.source{
				cursor:pointer;
				a{
					cursor:pointer;
					color: @main-blue;
				}
			}
			span{
				font-size: 12px;
			}
			.social-spread{
				.transition();
				// opacity: 0;
				color:@medium-gray;
				display: inline-block;
				padding-left:50px;
				span{

					background-repeat: no-repeat;
					display: inline-block;
					height: 20px;
					margin-right: 22px;
					padding-left: 24px;
					line-height: 15px;
					width: 30px;

					&.twitter{
						background-image: url(../images/twitter_icon_16.png)
					}
					&.face{
						background-image: url(../images/face_icon_16.png)
					}
					&.plus{
						background-image: url(../images/plus_icon_16.png)
					}
					&.pinterest{
						background-image: url(../images/pinterest_icon_16.png)
					}
				}
			}
		}

	}

	&:hover{
		.social-spread{
			opacity: 1!important;
		}
	}
}

