<div class="jumbotron">
  <h1>This is the about view.</h1>
  <p><a class="btn btn-lg btn-success" ui-sref="home">home<span class="glyphicon glyphicon-chevron-right"></span></a></p>
  <p class="lead">
    <img src="images/ok.jpg" alt="I'm Russo">
  </p>
</div>
