 .discover-pane{
 	height: 100%;
 	width: 100%;
 	.top-bar{
 		height: 60px;
 		width: ~"calc(100% - 400px)";
 		border-bottom: 1px solid @border-gray;
 		background: @pure-white;
 		.top-menu{
			li{
				float: left;
				display: block;
				height: 50px;
				color: #000;
				font-size: 13px;
				letter-spacing: 0px;
				text-transform: uppercase;
				font-family: @main-font;
				padding: 0px 16px;
				color: @medium-gray;
				&:first-child{
					margin-left: 16px;
				}
			}
 		}
 	}
 }